root=true

[*.cs]
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.CS0162.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.CS0108.severity = none