<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101747398758-8gv5p4shm3pijelp0h4bcih1lro1qso1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101747398758-8gv5p4shm3pijelp0h4bcih1lro1qso1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101747398758-bc6ib4k60s2ld3b7ok8vcdihu5l94pqb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0QC2l1fvrD6MU4nIpxmZbiGKgpCOK-bI</string>
	<key>GCM_SENDER_ID</key>
	<string>101747398758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.currentlyundefined.idletycoonrestaurant</string>
	<key>PROJECT_ID</key>
	<string>fir-unitygamebussbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-unitygamebussbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101747398758:ios:25264e49af4d05666275a7</string>
</dict>
</plist>